*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}









body{
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* header start */

header{
    background-color: #F7F8F9;
    padding-bottom: 150px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 80px;
}

.header_container_logo{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.header_container_menu{
    margin-top: 27px;
    display: flex;
    align-items: center;
    max-width: 416px;
}

.menu{
    display: flex;
    gap: 48px;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
    font-size: 16px
}

.header_container_register{
    display: flex;
    gap: 24px;
}

.header_container_register_log{
    width: 47px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #556987;
    background: none;
    border: none;
    margin-top: 27px;
}

.header_container_register_sign{
    margin-top: 21px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #22C55E;
    color: #F0FDF4;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    width: 122px;
    height: 36px;
}

.burger_menu{
    display: none;
}
/* header end */


/* main start block1 */



.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333F51;
    max-width: 1140px;
    height: 568px;
    border-radius: 24px;
    position: relative;
    margin-top: 20px;
}

.main_container_title{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main_container_title h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;
    max-width: 847px;
}

.main_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #8896AB;
    text-align: center;
    max-width: 715px;
}

.main_container_inp{
    display: flex;
    gap: 16px;
    margin-top: 26px;
}

.main_container_inp input{
    border: none;
    border-radius: 8px;
    padding: 16px 14px;
    width: 320px;
    height: 56px;
}

.main_container_inp input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #667085;

}

.main_container_inp_btn button{
    border-radius: 6px;
    padding: 14px 10px;
    width: 171px;
    height: 56px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #22C55E;
    color: #F0FDF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    border: none;
}

.main_container_inp_btn a{
    text-decoration: none;
    color: #F0FDF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
}

.main_container_title_p{
    width: 715px;
    height: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #8896AB;
    margin-bottom: 88px;
}

.main_container_title_header{
    border-radius: 36px;
    padding: 2px 8px;
    width: 66px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #22C55E;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    margin-top: 90px;
    color: #FFFFFF;
}

.main_container_image1{
    position: absolute;
    right: 5px;
    top: 408px;
}

.main_container_image2{
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.main_container_image3{
    position: absolute;
    right: 978px;
    bottom: 400px;
}

.main_container_image4{
    position: absolute;
    right: 24px;
    top: 24px;
}

/* main end block1 */


/* main start container2 */
.companies{
    position: relative;
}

.companies_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.companies_container_title{
    margin-top: 88px;
    margin-bottom: 32px;
    color: #BBC3CF;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.companies_container_image{
    display: flex;
    gap: 65px;
}

/* main end container2 */


/* main start container3 */


.features_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.features_container_title_logo{
    margin-top: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    border-radius: 36px;
    padding: 2px 8px;
    width: 74px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #DCFCE7;
    color: #22C55E;
}

.features_container_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.features_container_title h2{
    margin-top: 16px;
    max-width: 846px;
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2A3342;
}

.features_container_title p{
    max-width: 919px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
}

.features_container_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: url(/photo/xz1.png);
}

.features_container_content_block{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.features_container_content_block div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.features_container_content_block div h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    max-width: 359px;
    margin-top: 24px;
    color: #2A3342;
}

.features_container_content_block div p{
    max-width: 295px;
    color: #556987;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

/* main end container3 */

/* main start container4 */

.business{
    margin-top: 164px;
    height: 418px;
    background-color: #F7F8F9;
}

.business_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    height: 290px;
    border-radius: 6px;
    background: url(/photo/background\ main4.png);
}

.business_container_title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.business_container_title h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 456px;
}

.business_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #8896AB;
    max-width: 456px;
}


.business_container_btn{
    display: flex;
    align-items: center;
    gap: 24px;
}

.business_container_btn-1{
    border-radius: 6px;
    padding: 16px 28px;
    width: 171px;
    height: 56px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color:#22C55E ;
    border: none;
}

.business_container_btn-1 a{
    color: #F0FDF4;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-decoration: none;
}

.business_container_btn-2{
    border-radius: 6px;
    padding: 16px 28px;
    width: 171px;
    height: 56px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
}

.business_container_btn-2 a{
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: #333F51;
    text-decoration: none;
}

/* main end container4 */


/* main start container5 */

.gain{
    background-color: #F7F8F9;
}
.gain_container{
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    height: 1006px;
    background: url(/photo/background\ main5.png);
}

.gain_container_logo_title{
    margin-top: 90px;
    border-radius: 36px;
    padding: 2px 8px;
    width: 77px;
    height: 24px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #DCFCE7;
    color: #22C55E;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
}

.gain_container_title{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gain_container_title h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: -0.02em;
    color: #2A3342;
    max-width: 846px;
}

.gain_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #556987;
    max-width: 919px;
}

.gain_container_content{
    display: flex;
    flex-direction: column;
    margin-top: 146px;
    gap: 50px;
}

.gain_container_content_block-1{
    display: flex;
    align-items: center;
    gap: 24px;
}

.gain_container_content_block-1_title{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.gain_container_content_block-1_title h3{
    color: #2A3342;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    max-width: 346px;
}

.gain_container_content_block-1_title p{
    color: #556987;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    max-width: 376px;
}

.gain_container_content_image{
    position: relative;
    left: 650px;
    max-width: 100px;
    bottom: 440px;
}

.gain_container_content_image_background{
    position: absolute;
    right: 1px;
    bottom: 450px;
}

.gain_container_content_image_background2{
    position: absolute;
    left: 450px;
    top: 500px;
}

/* main end container5 */

/* main start container6 */

.insight{
    height: 800px;
    background-color: #F7F8F9;
}

.insight_container{
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    background: url(/photo/background\ main5.png);
}

.insight_container_title{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.insight_container_logo_title{
    border-radius: 36px;
    padding: 2px 8px;
    width: 74px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #DCFCE7;
    color: #22C55E;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 16px;
}


.insight_container_title h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #2A3342;
    max-width: 450px;
}

.insight_container_title p{
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #556987;
    max-width: 456px;
    margin-bottom: 25px;
}

.insight_container_btn button{
    border-radius: 6px;
    padding: 12px 18px;
    width: 128px;
    height: 46px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    color: #F0FDF4;
    background-color:#22C55E ;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

/* main end container6 */

/* main start container7 */

.into{
    background-color: #F7F8F9;
}
.into_container{
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    align-items: center;
    gap: 100px;
    background: url(/photo/background\ main5.png);
}

.info_container_content{
    display: flex;
    flex-direction: column;
}

.into_container_logo_title{
    border-radius: 36px;
    padding: 2px 8px;
    width: 74px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #DCFCE7;
    color: #22C55E;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 16px;
}

.into_container_title{
    display: flex;
    flex-direction: column;
}

.into_container_title h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #2A3342;
    max-width: 450px;
    margin-bottom: 32px;
}

.into_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #556987;
    max-width: 456px;
    margin-bottom: 25px;
}

.into_container_btn button{
    border-radius: 6px;
    padding: 12px 18px;
    width: 128px;
    height: 46px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #22C55E;
    border: none;
    color: #F0FDF4;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
/* main end container7 */



/* main start container8 */

.believe{
    height: 576px;
}

.believe_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(/photo/xz1.png);
}

.believe_container_title_logo{
    margin-top: 88px;
    border-radius: 36px;
    padding: 2px 8px;
    width: 73px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background-color: #DCFCE7;
    color: #22C55E;
}

.believe_container_title{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.believe_container_title h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #2A3342;
    text-align: center;
    max-width: 977px;
}

.believe_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    max-width: 919px;
    color: #556987;
    padding: 0px 50px;
}

.believe_container_content{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 32px;
    width: 1140px;
    height: 162px;
}


.believe_all h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #22C55E;
}

.believe_all p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
}


/* main end container8 */

/* main start container9 */

.people{
    background-color: #2A3342;
}

.people_container{
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius:  10px;
    padding: 107px 150px;
    position: relative;
}


.people_container_content{
    display: flex;
    align-items: center;
    gap: 32px;
}

.people_container_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.people_container_title h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    max-width: 554px;
    color: #FFFFFF;
}

.people_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #8896AB;
    max-width: 554px;
}


.people_container_content_colum{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people_container_content_colum_block{
    display: flex;
    gap: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.people_container_content_colum_block div{
    width: 359px;
    height: 174px;
}

.people_container_content_colum_block div h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    border-radius: 100%;
    background-color: #22C55E;
    width: 48px;
    height: 48px;
    padding: 9px;
}

.people_container_content_colum_block div h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 283px;
    margin-bottom: 8px;
}

.people_container_content_colum_block div p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8896AB;
    max-width: 359px;
}



.people_play{
    position: absolute;
    left: 981px;
}


.people_background{
    background: url(/photo/xz1.png);
}


/* main end container9 */


/* main start container10 */


.work{
    margin-top: 116px;
}

.work_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 88px 0px;
    position: relative;
    height: 1073px;
}

.work_container_title_logo{
    border-radius: 36px;
    padding: 2px 8px;
    width: 86px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background-color: #DCFCE7;
    color: #22C55E;
}

.work_container_title h2{
    margin-top: 16px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 122%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2A3342;
    max-width: 977px;
}


.work_container_title_p p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
    max-width: 919px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.work_container_btn button:last-child{
    border: 1px solid #D5DAE1;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    background-color: #FFFFFF;
    color: #2A3342;
}

.work_container_btn{
    display: flex;
    gap: 9px;
}

.work_container_btn button{
    border-radius: 6px;
    padding: 14px 35px;
    width: 171px;
    height: 56px; 
    font-weight: 500;
    font-size: 18px;
    line-height: 156%; 
    background-color: #22C55E;
    color: #FFFFFF;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
}



.image_work_background-1{
    position: absolute;
    left: 170px;
    bottom: 555px;
    z-index: -1;
}

.image_work_background-2{
    position: absolute;
    left: 1050px;
    bottom: 555px;
    z-index: -1;
}
/* main end container9 */

/* main start container10 */


.connected{
    margin-top: 88px;
}


.connected_container{
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/photo/xz1.png);
}

.connected_container_title_logo{
    border-radius: 36px;
    padding: 2px 8px;
    width: 75px;
    height: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background-color: #DCFCE7;
    color: #22C55E;
}

.connected_container_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
}

.connected_container_title h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2A3342;
    max-width: 977px;
}

.connected_container_title p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
    max-width: 919px;
}

.connected_container_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    margin-top: 64px;
    margin-bottom: 62px;
    background: url(/photo/xz1.png);
}

.connected_container_content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 146px;
    width: 261px;
}


.connected_container_content div h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 127%;
    text-align: center;
    color: #2A3342;
}

.connected_container_content div p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
}


.connected_container_content_maps iframe{
    border-radius: 10px;   
}

/* main end container10 */




/* footer start */


footer{
    margin-top: 176px;
    background-color: #2A3342;
}

.footer_container{
    display: flex;
    padding-top: 88px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer_container_title{
    margin-top: 32px;
    display: flex;
    gap: 48px;
    width: 829px;
    height: 30px;
    padding-bottom: 45px;
}

.footer_container_title h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #aab2c0;
}


.footer_container_end{
    padding-top: 39px;
    padding-bottom: 84px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #8896AB;
}


/* footer end */









@media (max-width:768px) {

    header{
        padding-bottom: 30px;
    }
    
    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       max-width: 768px;
        height:80px;
    }

    .container{
        max-width: 768px;
        margin: 0;
        padding: 0;
    }
    
    .header_container_menu{
        display: none;
    }

    .header_container_register{
        display: flex;
        align-items: center;
        padding: 10px 35px;
    }

    .header_container_register_log{
        width: 40px;
        height: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #556987;
        background: none;
        border: none;
        margin-top: 21px;
    }

    .header_container_register_sign{
        margin-top: 21px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        background-color: #22C55E;
        color: #F0FDF4;
        border: none;
        border-radius: 6px;
        padding: 6px 12px;
        width: 100px;
        height: 36px;
        font-size: 14px;
    }

    .burger_menu{
        display: block;
        margin-top: 25px;
    }

    

    .main_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333F51;
        max-width: 700px;
        margin: 0 auto;
        height: 460px;
        border-radius: 20px;
        position: relative;
        margin-top: 20px;
    }
    
    .main_container_title{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        
    }
    
    .main_container_title h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.02em;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        max-width: 600px;
    }
    
    .main_container_title p{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #8896AB;
        text-align: center;
        max-width: 600px;
    }
    
    .main_container_inp{
        display: flex;
        gap: 16px;
        margin-top: 26px;
    }
    
    .main_container_inp input{
        border: none;
        border-radius: 8px;
        padding: 10px 12px;
        width: 220px;
        height: 46px;
    }
    
    .main_container_inp input::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #667085;
    }
    
    .main_container_inp_btn button{
        border-radius: 6px;
        padding: 14px 10px;
        width: 125px;
        height: 46px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        background-color: #22C55E;
        border: none;
    }
    
    .main_container_inp_btn a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #F0FDF4;
        font-weight: 500;
        font-size: 14px;
    }
    
    .main_container_title_p{
        width: 600px;
        height: 20px;
        margin-top: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 143%;
        text-align: center;
        color: #8896AB;
        margin-bottom: 88px;
    }
    
    .main_container_title_header{
        display: flex;
        align-items: center;
        border-radius: 36px;
        padding: 2px 6px;
        width: 55px;
        height: 16px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        background-color: #22C55E;
        font-weight: 500;
        font-size: 10px;
        margin-top: 70px;
        color: #FFFFFF;
    }
    
    .position img{
        width: 100px;
    }


    .main_container_image1{
        position: absolute;
        left: 599px;
        top: 355px;
    }
    
    .main_container_image2{
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    
    .main_container_image3{
        position: absolute;
        left: 1px;
        bottom: 355px;
    }
    
    .main_container_image4{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /* Companies block */


    .companies_container_title{
        margin-top: 50px;
    }

    .companies_container_image{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .companies_container_image img{
        width: 110px;
    }

    /* Companies block */



    /* features container */


    .gain_container_logo_title {
        display: none;
    }


    .features_container{
        padding: 0px 15px;
    }

    .features_container_title h2{
        max-width: 600px;
        font-size: 30px;
    }

    .features_container_title p{
        max-width: 600px;
        font-size: 20px;
    }

    .features_container_content_block div h3{
        font-size: 20px;
    }

    .features_container_content_block div p{
        font-size: 14px;
    }


    /* features container */



    /* business container */


    .business{
        margin-top: 50px;
        padding: 0px 15px;
        height: 350px;
    }

    .business_container{
        border-radius: 10px;
        padding: 0px 15px;
    }

    
    .business_container_title h2{
        font-size: 30px;
        color: #FFFFFF;
        max-width: 350px;
    }
    
    .business_container_title p{
        font-size: 20px;
        color: #8896AB;
        max-width: 350px;
    }

    .business_container_btn{
        display: flex;
        align-items: center;
        gap: 18px;
        width: 300px;
        height: 40px;
    }


    .business_container_btn-1{
        padding: 14px 22px;
        width: 170px;
        height: 56px;
    }
    

    
    .business_container_btn-2{
        padding: 14px 22px;
        width: 170px;
        height: 56px;
    }
    

    /* business container */




    /* gain container */


    .gain{
        padding: 20px;
        height: 410px;
    }
    
    .gain_container_title h2{
        font-size: 32px;
        max-width: 846px;
        text-align: center;
    }
    
    .gain_container_title p{
        text-align: center;
        font-size: 18px;
        max-width: 950px;
    }

    .gain_container_logo_title{
        margin-top: 70px;
        padding: 2px 8px;
        width: 77px;
        height: 24px;
        font-size: 12px;
    }

    .gain_container_content{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 30px;
    }
    
    .gain_container_content_block-1{
        display: flex;
        align-items: center;
        gap: 18px;
    }
    
    .gain_container_content_block-1_title{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .gain_container_content_block-1_title h3{
        color: #2A3342;
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        max-width: 240px;
    }
    
    .gain_container_content_block-1_title p{
        color: #556987;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        max-width: 240px;
    }
    
    .gain_container_content_image{
        position: relative;
        left: 370px;
        max-width: 100px;
        bottom: 300px;
    }

    .gain_container_content_image img{
        width: 300px;
    }
    
    .gain_container_content_image_background{
        display: none;
    }
    
    .gain_container_content_image_background2{
        display: none;
    }


    /* gain container */





    /* insight container */


    .insight{
        height: 500px;
    }

    
    .insight_container{
        padding-top: 155px;
        max-width: 768px;
        gap: 0px;
    }

    .insight_container img{
        width: 340px;
    }
    
    .insight_container_title{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        max-width: 300px;
    }
    
    .insight_container_logo_title{
        display: none;
    }
    
    
    .insight_container_title h2{
        font-size: 32px;
    }
    
    .insight_container_title p{
        margin-top: 26px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    .insight_container_btn button{
        padding: 10px 16px;
        width: 120px;
        height: 42px;
        font-size: 14px;
    }



    /* insight container */







    /* into container */


    .into{
        background-color: #F7F8F9;
        padding: 0px 20px;
        height: 500px;
    }

    .into_container{
        padding-top: 100px;
        max-width: 768px;
        gap: 0px;
    }

    .into_container img{
        width: 350px;
        padding-right: 10px;
    }
    
    .into_container_logo_title{
        display: none;
    }

    
    .into_container_title h2{
        font-size: 32px;
        max-width: 300px;
        margin-bottom: 10px;
    }
    
    .into_container_title p{
        font-size: 18px;
        max-width: 300px;
        margin-bottom: 20px;
    }
    
    .into_container_btn button{
        border-radius: 6px;
        padding: 10px 16px;
        width: 120px;
        height: 42px;
        font-size: 14px;
        font-size: 16px;

    }

    /* into container */

    /* believe container */

    .believe{
        height: 476px;
    }

    .believe_container{
        max-width: 768px;
    }

    .believe_container_title_logo{
        margin-top: 88px;
        border-radius: 36px;
        padding: 2px 8px;
        width: 73px;
        height: 22px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        background-color: #DCFCE7;
        color: #22C55E;
    }
    
    .believe_container_title{
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }
    
    .believe_container_title h2{
        font-size: 32px;
        max-width: 600px;
    }
    
    .believe_container_title p{
        font-size: 18px;
        max-width: 650px;
    }
    
    .believe_container_content{
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        gap: 14px;
        width: 768px;
    }
    
    
    .believe_all h2{
        font-size: 32px;
    }
    
    .believe_all p{
        font-size: 18px;
    }

    /* believe container */




    /* people container */

    .people{
        background-color: #2A3342;
    }
    
    .people_container{
        margin-top: 50px;
        padding: 0px 0px;
        position: relative;
       max-width: 768px;
    }
    
    
    .people_container_content{
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 50px;
    }
    
    .people_container_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
    
    .people_container_title h2{
        font-size: 32px;
        max-width: 400px;
    }
    
    .people_container_title p{
        font-size: 18px;
        max-width: 400px;
    }
    
    
    .people_container_content_colum{
        margin-top: 64px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
    .people_container_content_colum_block{
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        align-items: center;
    }


    
    .people_container_content_colum_block div{
        width: 220px;
        height: 174px;
    }
    
    .people_container_content_colum_block div h2{
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
    
    .people_container_content_colum_block div h3{
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
        max-width: 283px;
        margin-bottom: 8px;
    }
    
    .people_container_content_colum_block div p{
        font-size: 14px;
        max-width: 300px;
    }
    
    
    .people_play{
        position: absolute;
        left: 580px;
        width: 50px;
    }
    
    
    .people_background{
        background: url(/photo/xz1.png);
    }

    .people_photo{
        width: 300px;
    }

    /* people container */


      


    /* work container */

     .work_container_title h2{
        font-size: 28px;
     }


     .image_work{
        margin-left: 0px;
        width: 768px;
     }

     .image_work_background-1{
        display: none;
     }

     .image_work_background-2{
        display: none;
     }

     .work_container_title_p p{
       
        font-size: 16px;
        padding: 0px 20px;
     }

     .work_container_btn{
        width: 300px;
        height: 170px;
        gap: 25px;
     }

     .work_container_btn button{
        font-size: 18px;
        padding: 2px 6px;
     }


    /* work container */




    /* connected container */


    .connected_container_title h2{
        font-size: 32px;
        max-width: 500px;
    }

    .connected_container_title p{
        font-size: 18px;
        max-width: 600px;
    }

    .connected_container_content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0px;
        margin-top: 64px;
        margin-bottom: 62px;
        background: url(/photo/xz1.png);
    }
    
    .connected_container_content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        height: 146px;
        width: 261px;
    }
    
    
    .connected_container_content div h3{
        font-weight: 700;
        font-size: 30px;
        line-height: 127%;
        text-align: center;
        color: #2A3342;
    }
    
    .connected_container_content div p{
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #556987;
    }
    
    
    .connected_container_maps {
        border-radius: 10px;
        width: 300px;
        height: 00px;
    }


    /* connected container */


    
    /* footer */



    footer{
        margin-top: 70px;
    }


    .footer_container_title{
        width: 678px;
        gap: 33px;
    }


    /* footer */



}


@media (max-width: 398px) {

    header{
        padding-bottom: 20px;
    }
    

    .container{
        max-width: 398px;
        margin: 0;
        padding: 0;
    }
    
    .header_container_menu{
        display: none;
    }

    .header_container_register{
        display: flex;
        align-items: center;
        padding: 0px;
        gap: 5px;
        padding-right: 10px;
    }

    .header_container_register_log{
        width: 40px;
        height: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #556987;
        background: none;
        border: none;
        margin-top: 21px;
    }

    .header_container_register_sign{
        margin-top: 21px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        background-color: #22C55E;
        color: #F0FDF4;
        border: none;
        border-radius: 6px;
        padding: 6px 12px;
        width: 70px;
        height: 28px;
        font-size: 12px;
    }

    .burger_menu{
        display: block;
        margin-top: 25px;
    }

    

    .main_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333F51;
        width: 380px;
        margin: 0 auto;
        height: 320px;
        border-radius: 20px;
        position: relative;
        margin-top: 20px;
        padding: 0px 15px;
    }
    
    .main_container_title{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    
    .main_container_title h2{
        font-size: 22px;
        text-align: center;
        max-width: 320px;
    }
    
    .main_container_title p{
        font-size: 14px;
        text-align: center;
        max-width: 350px;
    }
    
    .main_container_inp{
        display: flex;
        gap: 16px;
        margin-top: 20px;
    }
    
    .main_container_inp input{
        border: none;
        border-radius: 8px;
        padding: 10px 12px;
        width: 200px;
        height: 40px;
    }
    
    .main_container_inp input::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #667085;
    }
    
    .main_container_inp_btn button{
        padding: 0px 10px;
        width: 125px;
        height: 40px;
        border: none;
    }
    
    .main_container_inp_btn a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #F0FDF4;
        font-weight: 500;
        font-size: 14px;
    }
    
    .main_container_title_p{
        width: 600px;
        height: 20px;
        margin-top: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 143%;
        text-align: center;
        color: #8896AB;
        margin-bottom: 88px;
    }
    
    .main_container_title_header{
        display: flex;
        align-items: center;
        border-radius: 36px;
        padding: 2px 6px;
        width: 50px;
        height: 14px;
        box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
        background-color: #22C55E;
        font-weight: 500;
        font-size: 9px;
        margin-top: 30px;
        color: #FFFFFF;
    }
    
    .position img{
        display: none;
    }




    /* Companies block */


    .companies_container_title{
        margin-top: 50px;
    }

    .companies_container_image{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 0px 5px;
    }

    .companies_container_image img{
        width: 100px;
    }

    /* Companies block */







     /* features container */


     .gain_container_logo_title p{
        display: none;
    }

    .features_container_title_logo{
        
        width: 60px;
        font-size: 9px;
        padding: 5px 7px;
    }

    .features_container{
        padding: 0px 15px;
    }

    .features_container_title h2{
        max-width: 320px;
        font-size: 22px;
    }

    .features_container_title p{
        max-width: 325px;
        font-size: 14px;
    }


    .features_container_content_block img{
        width: 50px;
    }

    .features_container_content_block{
        gap: 20px;
        flex-direction: column;
    }

    .features_container_content_block div h3{
        font-size: 20px;
    }

    .features_container_content_block div p{
        font-size: 14px;
    }


    /* features container */






    /* main start container4 */

.business{
    margin-top: 100px;
    height: 418px;
    background-color: #F7F8F9;
}

.business_container{
    max-width: 398px;
    height: 290px;
    padding: 5px 10px;
}

.business_container_title{
    gap: 24px;
}

.business_container_title h2{
    font-size: 20px;
    max-width: 320px;
}

.business_container_title p{
    font-size: 16px;
    max-width: 320px;
}


.business_container_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 150px;
}

.business_container_btn-1{
    padding: 10px 10px;
    width: 70px;
    height: 50px;
    border: none;
}

.business_container_btn-1 a{
    font-size: 12px;
    text-decoration: none;
}

.business_container_btn-2{
    padding: 10px 10px;
    width: 70px;
    height: 50px;
    border: none;
}

.business_container_btn-2 a{
    font-size: 12px;
    text-decoration: none;
}

/* main end container4 */







 /* gain container */


 .gain{
    padding: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.gain_container{
    max-width: 398px;
}

.gain_container_title{
    margin-top: 0px;
    margin-bottom: 280px;
}

.gain_container_title h2{
    font-size: 22px;
    max-width: 320px;
    text-align: center;
}

.gain_container_title p{
    text-align: center;
    font-size: 16px;
    max-width: 320px;
}

.gain_container_logo_title{
    display: none;
}

.gain_container_content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 25px;
}

.gain_container_content_block-1{
    display: flex;
    align-items: center;
    gap: 18px;
}

.gain_container_content_block-1_title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gain_container_content_block-1_title h3{
    color: #2A3342;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    max-width: 240px;
}

.gain_container_content_block-1_title p{
    color: #556987;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    max-width: 240px;
}

.gain_container_content_image{
    position: relative;
    left: 20px;
    max-width: 70px;
    bottom: 600px;
}

.gain_container_content_image img{
    width: 300px;
}

.gain_container_content_image_background{
    display: none;
}

.gain_container_content_image_background2{
    display: none;
}


/* gain container */







/* main start container6 */

.insight{
    height: 800px;
    background-color: #F7F8F9;
}

.insight_container{
    margin-top: 450px;
    max-width: 398px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    flex-wrap: wrap;
    gap: 10px;
    background: url(/photo/background\ main5.png);
}

.insight_container img{
    width: 340px;
}

.insight_container_title{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.insight_container_logo_title{
    display: none;
}


.insight_container_title h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #2A3342;
    max-width: 450px;
}

.insight_container_title p{
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #556987;
    max-width: 456px;
    margin-bottom: 25px;
}

.insight_container_btn button{
    border-radius: 6px;
    padding: 12px 18px;
    width: 128px;
    height: 46px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    color: #F0FDF4;
    background-color:#22C55E ;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

/* main end container6 */





/* into container7 */



.into{
    height: 700px;
}

.into_container{
    display: flex;
    flex-wrap: wrap;
}



/* into container7 */




/* belive container7 */



.believe{
    height: 600px;
}

.believe_all{
    width: 150px;
}

.believe_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(/photo/xz1.png);
    max-width: 398px;

}

.believe_container_title_logo{
    margin-top: 88px;
    border-radius: 36px;
    padding: 2px 8px;
    width: 73px;
    height: 22px;
    box-shadow: 0 1px 2px 0 rgba(105, 81, 255, 0.05);
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background-color: #DCFCE7;
    color: #22C55E;
}

.believe_container_title{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.believe_container_title h2{
    font-size: 22px;
    text-align: center;
    max-width: 320px;
}

.believe_container_title p{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    max-width: 320px;
    color: #556987;
    padding: 0px 20px;
}

.believe_container_content{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: px;
    gap: 30px;
    width: 398px;
    height: 162px;
}


.believe_all h2{
    font-size: 32px;
}

.believe_all p{
    font-size: 18px;
}


/* belive container7 */






/*people_container  container7 */



.people{
    background-color: #2A3342;
}

.people_container{
    margin-top: 50px;
    padding: 0px 0px;
    position: relative;
   max-width: 398px;
}


.people_container_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 50px;
    padding: 15px;
}

.people_container_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.people_container_title h2{
    font-size: 25px;
    max-width: 320px;
}

.people_container_title p{
    font-size: 16px;
    max-width: 320px;
}


.people_container_content_colum{
    margin-top: 64px;
    display: flex;
    align-items: center;
    padding: 0px;
}

.people_container_content_colum_block{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}



.people_container_content_colum_block div{
    width: 350px;
    height: 174px;
}

.people_container_content_colum_block div h2{
    font-size: 18px;
    width: 40px;
    height: 40px;
}

.people_container_content_colum_block div h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 283px;
    margin-bottom: 8px;
}

.people_container_content_colum_block div p{
    font-size: 14px;
    max-width: 300px;
}


.people_play{
    position: absolute;
    left: 140px;
    top: 320px;
    width: 50px;
}


.people_background{
    background: url(/photo/xz1.png);
}

.people_photo{
    width: 300px;
}




/*people_container  container7 */




/*work_container  container8 */


.work_container_title h2{
    font-size: 25px;
    max-width: 350px;
 }


 .image_work{
    margin-left: 0px;
    width: 398px;
 }

 .image_work_background-1{
    display: none;
 }

 .image_work_background-2{
    display: none;
 }

 .work_container_title_p p{
    max-width: 320px;
    font-size: 16px;
    padding: 0px 20px;
 }

 .work_container_btn{
    width: 250px;
    height: 170px;
    gap: 20px;
 }

 .work_container_btn button{
    font-size: 16px;
    padding: 2px 6px;
 }


 /*work_container  container8 */


 


 /*conected_container  container9 */

 .connected_container_title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 330px;
 }

.connected_container_title h2{
    font-size: 25px;
}

.connected_container_title p{
    font-size: 16px;
}

.connected_container_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 64px;
    margin-bottom: 62px;
    background: url(/photo/xz1.png);
}

.connected_container_content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 146px;
    width: 261px;
}


.connected_container_content div h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 127%;
    text-align: center;
    color: #2A3342;
}

.connected_container_content div p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #556987;
}

.connected_container_maps{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.connected_container_contect_maps iframe{
    border-radius: 10px;
    width: 350px;
    height: 400px;
}



  /*conected_container  container9 */





  /* footer */


  footer{
    margin-top: 75px;
    max-width: 398px;
}

.footer_container{
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 398px;
}

.footer_container_title{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 398px;
    height: 50px;
    padding-bottom: 0px;
}

.footer_container_title h3{
    font-size: 18px;

}


.footer_container_end{
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 20px;
}


/* footer */


}